openapi: 3.2.0
info:
  title: Salesforce Account Engagement (Pardot) API v5 Objects API
  description: 'Salesforce Account Engagement (Pardot) API v5 exposes prospects,

    campaigns, lists, opportunities, emails, forms and other marketing

    automation objects through a uniform `/api/v5/objects/{collection}`

    pattern. Authentication is delegated to Salesforce OAuth2.'
  version: 5.0.0
  contact:
    name: Salesforce
    url: https://developer.salesforce.com/docs/marketing/pardot/guide/version5overview.html
  x-provenance:
    openapi_published_by_provider: false
    authored_by: API Evangelist
    generated: '2026-08-13'
    method: derived
    derived_from: https://developer.salesforce.com/docs/marketing/pardot/guide/version5overview.html
    note: Salesforce publishes no OpenAPI for Marketing Cloud Account Engagement (Pardot). Probes of /openapi.json, /openapi.yaml, /swagger.json and /api-docs against pi.pardot.com, pi.demo.pardot.com, developer.salesforce.com and www.salesforce.com all returned 404 on 2026-08-13. This document is an API Evangelist transcription of the provider's own v5 object reference pages and must not be read as a vendor contract. The provider's only first-party machine-readable descriptions are the legacy v3 WADL and XSDs in schemas/. The full documented v5 operation surface (162 operations across 36 objects) is captured in data-model/pardot-data-model.yml; this spec covers a subset.
servers:
- url: https://pi.pardot.com/api/v5
  description: Pardot v5 production
security:
- BearerAuth: []
tags:
- name: Objects
paths:
  /objects/prospects:
    get:
      summary: Query prospects
      parameters:
      - in: query
        name: fields
        schema:
          type: string
      responses:
        '200':
          description: A collection of prospects.
      tags:
      - Objects
      operationId: getObjectsProspects
      x-operation-id-source: derived
    post:
      summary: Create a prospect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Prospect created.
      tags:
      - Objects
      operationId: postObjectsProspects
      x-operation-id-source: derived
  /objects/prospects/{id}:
    get:
      summary: Read a prospect
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      - in: query
        name: fields
        schema:
          type: string
      responses:
        '200':
          description: Prospect details.
      tags:
      - Objects
      operationId: getObjectsProspectsById
      x-operation-id-source: derived
    patch:
      summary: Update a prospect
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Prospect updated.
      tags:
      - Objects
      operationId: patchObjectsProspectsById
      x-operation-id-source: derived
    delete:
      summary: Delete a prospect
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Prospect deleted.
      tags:
      - Objects
      operationId: deleteObjectsProspectsById
      x-operation-id-source: derived
  /objects/campaigns:
    get:
      summary: Query campaigns
      parameters:
      - in: query
        name: fields
        schema:
          type: string
      responses:
        '200':
          description: A collection of campaigns.
      tags:
      - Objects
      operationId: getObjectsCampaigns
      x-operation-id-source: derived
    post:
      summary: Create a campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Campaign created.
      tags:
      - Objects
      operationId: postObjectsCampaigns
      x-operation-id-source: derived
  /objects/campaigns/{id}:
    get:
      summary: Read a campaign
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Campaign details.
      tags:
      - Objects
      operationId: getObjectsCampaignsById
      x-operation-id-source: derived
    patch:
      summary: Update a campaign
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Campaign updated.
      tags:
      - Objects
      operationId: patchObjectsCampaignsById
      x-operation-id-source: derived
  /objects/lists:
    get:
      summary: Query lists
      responses:
        '200':
          description: A collection of lists.
      tags:
      - Objects
      operationId: getObjectsLists
      x-operation-id-source: derived
    post:
      summary: Create a list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List created.
      tags:
      - Objects
      operationId: postObjectsLists
      x-operation-id-source: derived
  /objects/lists/{id}:
    get:
      summary: Read a list
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: List details.
      tags:
      - Objects
      operationId: getObjectsListsById
      x-operation-id-source: derived
    patch:
      summary: Update a list
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List updated.
      tags:
      - Objects
      operationId: patchObjectsListsById
      x-operation-id-source: derived
    delete:
      summary: Delete a list
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: List deleted.
      tags:
      - Objects
      operationId: deleteObjectsListsById
      x-operation-id-source: derived
  /objects/list-memberships:
    get:
      summary: Query list memberships
      responses:
        '200':
          description: A collection of list memberships.
      tags:
      - Objects
      operationId: getObjectsListMemberships
      x-operation-id-source: derived
    post:
      summary: Create a list membership
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List membership created.
      tags:
      - Objects
      operationId: postObjectsListMemberships
      x-operation-id-source: derived
  /objects/opportunities:
    get:
      summary: Query opportunities
      responses:
        '200':
          description: A collection of opportunities.
      tags:
      - Objects
      operationId: getObjectsOpportunities
      x-operation-id-source: derived
  /objects/opportunities/{id}:
    get:
      summary: Read an opportunity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Opportunity details.
      tags:
      - Objects
      operationId: getObjectsOpportunitiesById
      x-operation-id-source: derived
  /objects/emails:
    get:
      summary: Query emails
      responses:
        '200':
          description: A collection of emails.
      tags:
      - Objects
      operationId: getObjectsEmails
      x-operation-id-source: derived
    post:
      summary: Create / send an email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Email created.
      tags:
      - Objects
      operationId: postObjectsEmails
      x-operation-id-source: derived
  /objects/emails/{id}:
    get:
      summary: Read an email
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Email details.
      tags:
      - Objects
      operationId: getObjectsEmailsById
      x-operation-id-source: derived
  /objects/forms:
    get:
      summary: Query forms
      responses:
        '200':
          description: A collection of forms.
      tags:
      - Objects
      operationId: getObjectsForms
      x-operation-id-source: derived
  /objects/forms/{id}:
    get:
      summary: Read a form
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Form details.
      tags:
      - Objects
      operationId: getObjectsFormsById
      x-operation-id-source: derived
  /objects/visits:
    get:
      summary: Query visits
      responses:
        '200':
          description: A collection of visits.
      tags:
      - Objects
      operationId: getObjectsVisits
      x-operation-id-source: derived
  /objects/visitors:
    get:
      summary: Query visitors
      responses:
        '200':
          description: A collection of visitors.
      tags:
      - Objects
      operationId: getObjectsVisitors
      x-operation-id-source: derived
  /objects/custom-fields:
    get:
      summary: Query custom fields
      responses:
        '200':
          description: A collection of custom fields.
      tags:
      - Objects
      operationId: getObjectsCustomFields
      x-operation-id-source: derived
    post:
      summary: Create a custom field
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Custom field created.
      tags:
      - Objects
      operationId: postObjectsCustomFields
      x-operation-id-source: derived
  /objects/custom-redirects:
    get:
      summary: Query custom redirects
      responses:
        '200':
          description: A collection of custom redirects.
      tags:
      - Objects
      operationId: getObjectsCustomRedirects
      x-operation-id-source: derived
  /objects/dynamic-content:
    get:
      summary: Query dynamic content
      responses:
        '200':
          description: A collection of dynamic content blocks.
      tags:
      - Objects
      operationId: getObjectsDynamicContent
      x-operation-id-source: derived
  /objects/files:
    get:
      summary: Query files
      responses:
        '200':
          description: A collection of files.
      tags:
      - Objects
      operationId: getObjectsFiles
      x-operation-id-source: derived
  /objects/folders:
    get:
      summary: Query folders
      responses:
        '200':
          description: A collection of folders.
      tags:
      - Objects
      operationId: getObjectsFolders
      x-operation-id-source: derived
  /objects/tags:
    get:
      summary: Query tags
      responses:
        '200':
          description: A collection of tags.
      tags:
      - Objects
      operationId: getObjectsTags
      x-operation-id-source: derived
  /objects/tracker-domains:
    get:
      summary: Query tracker domains
      responses:
        '200':
          description: A collection of tracker domains.
      tags:
      - Objects
      operationId: getObjectsTrackerDomains
      x-operation-id-source: derived
  /objects/users:
    get:
      summary: Query users
      responses:
        '200':
          description: A collection of users.
      tags:
      - Objects
      operationId: getObjectsUsers
      x-operation-id-source: derived
  /objects/layout-templates:
    get:
      summary: Query layout templates
      responses:
        '200':
          description: A collection of layout templates.
      tags:
      - Objects
      operationId: getObjectsLayoutTemplates
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: oauth2
      description: 'Authenticate via Salesforce OAuth2 and pass the resulting access

        token as `Authorization: Bearer {token}`. The `Pardot-Business-Unit-Id`

        header is also required on every request.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://login.salesforce.com/services/oauth2/authorize
          tokenUrl: https://login.salesforce.com/services/oauth2/token
          scopes:
            pardot_api: Access the Pardot/Account Engagement API
